body {
  background-color: black
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: White;
  text-align: center;
}

h2{
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: White;
  text-align: center;
}

h3 {
  font-family: Verdana;
  font-size: 16px;
  color: Aquamarine;
  text-align: center;
}

.midPara {
  font-family: Verdana;
  font-weight: 21px;
  color: Gray;
  text-align: center;
}

.copyR {
  font-family: Verdana;
  font-weight: 21px;
  color: Gray;
  text-align: right;
}

.displayed {
  display: block;
  margin: auto;
}
